* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ucc {
    display: flex;
}

.descucc {
    font-size: 20px;
    margin: auto;
    padding-top: 40vh;
    padding-bottom: 20vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.descuss h2 {
    display: block;
    color: #000000;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;

}